.main-container {
    position: relative;
}

.main-image {
    width: 100%;
    height: 120vh;
    object-fit: cover;
}

@media (max-width: 600px) {
    .main-image {
        height: 45vh;
    }
}

.main-content {
    position: absolute;
    top: 20%;
    right: -16%;
    transform: translate(-50%, -50%);
}

.sale-text {
    color: orange;
    font-size: 65px;
    font-weight: bold;
}

.style-text {
    color: white;
    font-size: 65px;
}

.description-text {
    color: white;
    font-size: 22px;
    width: 750px;
}

.shop-now-button {
    background-color: orange;
    color: white;
    margin-top: 13px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
